## Question no. 01

In [2]:
print("""Twinkle, twinkle, little star,
        How I wonder what you are!
           Up above the world so high,
           Like a diamond in the sky.

Twinkle, twinkle, little star,
        How I wonder what you are """)

Twinkle, twinkle, little star,
        How I wonder what you are!
           Up above the world so high,
           Like a diamond in the sky.

Twinkle, twinkle, little star,
        How I wonder what you are

## Question no. 02

In [4]:
import platform
print(platform.python_version())

3.12.4

## Question no. 03

In [188]:
from datetime import datetime

now = datetime.now()

print(now)

2024-08-02 07:29:17.554212

## Question no. 04

In [36]:
r = input("please enter the radius value : ")
radius = int(r)
import math
pi =math.pi
area =pi*(radius**2)
print(round(area, 2))

please enter the radius value :  23

1661.9

## Question no. 05

In [38]:
### get the user first and last name
first_name = input("Your first name : ")
last_name = input("Your last name : ")
print(last_name+" "+ first_name)

Your first name :  MAHA
Your last name :  SHEIKH

SHEIKH MAHA

## Question no. 06

In [44]:
first_value = input("please enter the first value : ")
second_value = input("please enter the second value : ")
fst = int(first_value)
sec = int(second_value)
print(fst + sec)

please enter the first value :  1
please enter the second value :  2

3

## Question no. 07

In [26]:
# Get the marks of user for 5 subjects
print("enter the marks of each 5 subjects from out of 100 : ")
subject1 = float(input("Please enter the marks of subject 01 : "))
subject2 = float(input("please enter the marks of subject 02 : "))
subject3 = float(input("Please enter the marks of subject 03 : "))
subject4 = float(input("please enter the marks of subject 04 : "))
subject5 = float(input("please enter the marks of subject 05 : "))

total_marks = subject1 + subject2 + subject3 + subject4 + subject5

# percentage of the total marks
percentage = ((total_marks/500)*100)  

# determine the grade
if percentage >= 90:
   grade = "A"

elif percentage >= 80:
    grade = "B"

elif percentage >= 70:
    grade = "C"

elif percentage >= 60:
    grade = "D"

elif percentage >= 60:
    garde = "E"

else:
    grade = "F"

print ("\nmark sheet")
print("==============")
print("marks of subject 01 : ",subject1)
print("marks of subject 02 : ",subject2)
print("marks of subject 03 : ",subject3)
print("marks of subject 04 : ",subject4)
print("marks of subject 05 : ",subject5)

print(f"Grade: {grade}")

enter the marks of each 5 subjects from out of 100 :

Please enter the marks of subject 01 :  56
please enter the marks of subject 02 :  77
Please enter the marks of subject 03 :  88
please enter the marks of subject 04 :  98
please enter the marks of subject 05 :  99

mark sheet
==============
marks of subject 01 :  56.0
marks of subject 02 :  77.0
marks of subject 03 :  88.0
marks of subject 04 :  98.0
marks of subject 05 :  99.0
Grade: B

## Question no. 08

In [37]:
# Get number from user
num = int(input("please enter the number"))

# check whether the user's input is odd or even.
if num % 2 == 0:
          print(f"{num} is even.")
else:
     print(f"{num} is odd.")

please enter the number 5

5 is odd.

## Question no. 09

In [40]:
# list of Salaries
salaries = ["30k",67000,"40k","asd"]
len(salaries)

4

## Question no. 10

In [53]:
def sum_numeric_items(first):
   
    numeric_list = [i for i in first if isinstance(i,(int,float))]
   
    return sum(numeric_list)

list = [1,2,"asc",5,7,2.5,"g"]

print(sum_numeric_items(list))

17.5

## Question no. 11

In [167]:
def max_value(items):
 
    return max(items)

list = [1,2,3,4,5,6,7]

print("maximum value: ",max_value(list))

maximum value:  7

## Question no. 12

In [174]:
#get maximum value in a given list

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

for maxi in a:
    if maxi < 5:
           print ( maxi)

1
1
2
3